@use './global/' as *;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// font-family: "Rubik", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
// font-family: "Cairo", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// font-family: "Open Sans", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
//  font-family: "Noto Sans", sans-serif;


* {
        
    font-family: 'Cairo', sans-serif !important;
}

// .v-field{
//     border-radius: 0 !important;
// }
/* Global styles */
// html[dir="rtl"] {
//     font-family: 'Cairo', sans-serif !important;
    
//     * {
        
//         font-family: 'Cairo', sans-serif !important;
//     }
// }

// html[dir="ltr"] {
//     font-family: "Noto Sans", sans-serif !important;
//     * {
        
//         font-family: "Noto Sans", sans-serif !important;
//     }
// }


.v-container {

    @media (min-width: 1920px) {

        max-width: 1400px !important;
    }
}



.gradient-bg {
    background: linear-gradient(to bottom right, rgb(var(--v-theme-primary)) 50%, rgb(var(--v-theme-primary-darken))) !important;
    color: #fff !important;
}


.v-field--variant-solo,
.v-field--variant-solo-filled {

    box-shadow: none !important;

    &:hover,
    &.v-field--focused,
    &.v-field--hover {
            

        .v-field__overlay{
            opacity: 0.04 !important;
            opacity: 0.04 !important;
        }
    }


}

.v-menu > .v-overlay__content > .v-card, .v-menu > .v-overlay__content > .v-sheet, .v-menu > .v-overlay__content > .v-list{
    background-color: #fff !important;
}

// .v-field {
//     border-radius: 8px !important;
// }


.v-field {
    border-radius: 0px !important;


    ::placeholder {
        font-size: 14px !important;
        font-weight: 600 !important;


    }
}
